{{>header}}
  <img class="img-fluid" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi2.wp.com%2Fwww.techweez.com%2Fwp-content%2Fuploads%2F2018%2F01%2F404-not-found.jpg%3Ffit%3D1200%252C630&f=1&nofb=1" alt="Page Not Found" />
  <h1>The page you were looking for was unable to be found.</h1>
{{>footer}}