<!DOCTYPE html>
<html lang="en">
   <head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
     <title>{{title}}</title>
     <link rel="stylesheet" href="/css/style.css" />
   </head> 
   <body>
    <main id="content-wrapper">
      <header id="site-header">
        <nav>
          <ul>
           <li><a href="/">Home</a></li> 
           <li><a href="/about">About</a></li>
           <li><a href="/help">Help</a></li>
          </ul>
        </nav>
      </header>